

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
html {
    font-family: 'Roboto Mono', monospace;
}

*{
  border:1px solid black;
}

html{
  font-size: 16px;
}

body{
  font-family:'Roboto Mono', monospace;
  text-align:center;
  margin:0;
}

h1{
  position:relative;
  display:inline-block;
}

#top-image{
  border-radius:50%;
  float:left;
  margin-
  
}

.top-text{
  margin-left:25%;
}

.boxed-text{
  background:#DDB9A3;
  color:white;
  padding:5px;
  margin-left:50px;
  margin-right:50px;
}

#bottom-image{
  width:90%;
}

.top-buttons{
  margin-top:200px;
}

.bottom-buttons{
  background:#DDB9A3;
  margin:50px;
  float:top;
}


nav a{
  text-decoration:none;
  color:white;
  font-size:18px;
  padding:15px 20px;
  border-radius:15px;
}
nav a:first-child{
  background:#FF764E;
  margin:10%;
}
nav a:nth-child(2){
  background:#5ED3EB;
  margin:10%;
}
nav a:last-child{
  background:#FFCD69;
  margin:10%;
}